%ul
  %li
    %a{href: products_path} Products
  %li
    %a{href: sales_path} Sales
  %li
    %a{href: charges_path} Charges
  %li
    %a{href: customers_path} Customers
  %li
    %a{href: rental_locations_path} Rental Locations
