=stylesheet_link_tag "dashboard"

=render partial: "carousel"

.row.white.dash_section
  .container
    .row
      .col-md-12.section-heading
        %h2.text-uppercase Parties/Events/Fundraisers
        %h1.text-uppercase Whatever the occasion, we take the fun to the next level!
    %hr
    .row
      .col-md-4.upcase
        %h3.text-uppercase Our Goal
        .description
          WE WANT TO MAKE YOUR PARTY AWESOME! No seriously, we will make every effort 
          and do everything in our power to take your party to the next level. Treating
          every single event as if you were family!
      .col-md-4
        %h3.text-uppercase Professional
        .description
          Using the newest equipment, with the highest level of care, we strive for the 
          “AHH” reaction every time we deliver our equipment! Our employees are careful with 
          our equipment as they are with your property and will always be dressed and speak 
          professionally upon arrival to your event. 
      .col-md-4
        %h3.text-uppercase Convenient
        .description
          Our online reservation system was designed with only you in mind. We hope to 
          make reserving any of our clean and new equipment for your event the easiest job 
          on your party-planning checklist. With many more tricks up our sleeves, we will 
          continue to innovate the industry and make renting from us the favorite part of 
          your party!

.row.parallax.dash_section.text-center#inflatables
  %a.btn.btn-primary.btn-lg#inflatables_btn{href: public_products_path} Inflatables

.row.white.dash_section#about_us
  .container
    .row
      .col-md-12
        %h2 About Us
    %br
    .panel-body
      .row
        .col-md-12
          %p
            Empire Events was created in the summer of 2016 for the main purpose of 
            delivering more than just equipment. We saw a problem in the party rental industry 
            and we plan to fix it. Empire strives to handle every customer’s event as if it were 
            our own family’s party. 
          %p
            The problem in the party rental industry today lies in the way in which most 
            companies operate. Forcing customers to contact the company, via email, phone call, 
            etc, just to order the products the customers want to rent. Our company invites you 
            to reserve any of our products directly on our website with no hassle at all! 
            By treating our customers like family, our goal is to create an ACTUAL family 
            within our company. Creating a network for our customers to not only make their 
            events memorable, but to deliver knowledge to our customers to give them the 
            opportunity to attend public events near them.
          %p
            In the future, Empire Events will continue to develop a larger array of 
            products to further enhance the customer experience at our events. We will also 
            innovate and advance our technologies to provide more opportunities for the 
            Empire family to enjoy public events near them. Meanwhile, we will work to 
            increase the size of our family to give us the ability to keep our prices as low as 
            possible for our customers!

.row.blue.dash_section#fundraising
  .container
    .row
      .col-md-12
        %h2 Fundraising
    .row
      .col-md-12
        %h4 Raising money or awareness for a good cause? We are always looking for ways we can make a difference!
    %a.btn.btn-primary{href: new_fundraising_request_path} Submit a Request
.row.white.dash_section#contact_us
  .container
    .row
      .col-md-12
        %h2 Contact Us
    .panel-body
      .row
        .col-md-12
          %p
            %address
              Email: info@EmpireEventsNJ.com
              %br
              %abbr{title: "phone"}P:
              856.562.0060
          =link_to("https://facebook.com/EmpireFamily1", target: "_blank") do
            =icon('facebook-square', class: "social-icons")
          =link_to("https://www.instagram.com/EmpireFamily/", target: "_blank") do
            =icon('instagram', class: "social-icons")
          =link_to("https://twitter.com/EmpireFamily", target: "_blank") do
            =icon('twitter-square', class: "social-icons")
