=stylesheet_link_tag "dashboard"

.jumbotron
  .container
    %h1 Welcome to Empire Events!
    %p Check out all our cool stuff.

-@products.each do |product|
  .row
    .col-md-12
      =render partial: "products/product_panel", locals: { product: product }
