=stylesheet_link_tag "dashboard"

.jumbotron
  .container.text-center
    =image_tag("crown.png", class: "crown")
    %h1 Welcome to Empire Events!
    %p Delivering life long memories

.panel.panel-default.product-panel#inflatables
  .panel-body
    .row
      .col-sm-12
        %h1 Inflatables
    .row
      .col-sm-3.col-sm-offset-9
        %a.btn.btn-primary.btn-lg.btn-block{href: public_products_path} View

.panel.panel-default.product-panel#about_us
  .panel-body
    .row
      .col-sm-12
        %h1 About Us
    %br
    .row
      .col-sm-12
        %p
          Empire Events was created in the summer of 2016 for the main purpose of 
          delivering more than just equipment. We saw a problem in the party rental industry 
          and we plan to fix it. Empire strives to handle every customer’s event as if it were 
          our own family’s party. 
        %p
          The problem in the party rental industry today lies in the way in which most 
          companies operate. Forcing customers to contact the company, via email, phone call, 
          etc, just to order the products the customers want to rent. Our company invites you 
          to reserve any of our products directly on our website with no hassle at all! 
          By treating our customers like family, our goal is to create an ACTUAL family 
          within our company. Creating a network for our customers to not only make their 
          events memorable, but to deliver knowledge to our customers to give them the 
          opportunity to attend public events near them.
        %p
          In the future, Empire Events will continue to develop a larger array of 
          products to further enhance the customer experience at our events. We will also 
          innovate and advance our technologies to provide more opportunities for the 
          Empire family to enjoy public events near them. Meanwhile, we will work to 
          increase the size of our family to give us the ability to keep our prices as low as 
          possible for our customers!

.panel.panel-default.product-panel#contact_us
  .panel-body
    .row
      .col-sm-12
        %h1 Contact Us
    .row
      .col-sm-12
        %p
          %address
            Email: info@EmpireEventsNJ.com
            %br
            %abbr{title: "phone"}P:
            856.258.6630
        =link_to("https://facebook.com/EmpireFamily1") do
          =icon('facebook-square', class: "social-icons")
        =link_to("https://www.instagram.com/EmpireFamily/") do
          =icon('instagram', class: "social-icons")
        =link_to("https://twitter.com/EmpireFamily") do
          =icon('twitter-square', class: "social-icons")
