%h1.text-center Privacy Policy 
  
.row
  .col-sm-10.col-sm-offset-1
    Protecting your private information is our priority. This Statement of 
    Privacy applies to the EmpireEventsNJ.com and Empire Events LLC and governs 
    data collection and usage. For the purposes of this Privacy Policy, unless 
    otherwise noted, all references to Empire Events LLC include 
    EmpireEventsNJ.com and Empire Events. The Empire Events website is a 
    ECommerce site. By using the Empire Events website, you consent to the data 
    practices described in this statement. 
    %br
    %br
    %strong Collection of your Personal Information 
    %br
    Empire Events may collect personally identifiable information, such as your 
    name. If you purchase Empire Events's products and services, we collect 
    billing and credit card information. This information is used to complete 
    the purchase transaction. We may gather additional personal or non-personal 
    information in the future. 
    %br
    %br
    Information about your computer hardware and software may be automatically 
    collected by Empire Events. This information can include: your IP address, 
    browser type, domain names, access times and referring website addresses. 
    This information is used for the operation of the service, to maintain 
    quality of the service, and to provide general statistics regarding use of 
    the Empire Events website. 
    %br
    %br
    Empire Events encourages you to review the privacy statements of websites 
    you choose to link to from Empire Events so that you can understand how 
    those websites collect, use and share your information. Empire Events is 
    not responsible for the privacy statements or other content on websites 
    outside of the Empire Events website. 
    %br
    %br
    %strong Use of your Personal Information 
    %br
    Empire Events collects and uses your personal information to operate its 
    website(s) and deliver the services you have requested. 
    %br
    %br
    Empire Events may also use your personally identifiable information to 
    inform you of other products or services available from Empire Events and its 
    affiliates. Empire Events may also contact you via surveys to conduct 
    research about your opinion of current services or of potential new services 
    that may be offered. 
    %br
    %br
    Empire Events does not sell, rent or lease its customer lists to third parties. 
    %br
    %br
    Empire Events may share data with trusted partners to help perform statistical 
    analysis, send you email or postal mail, provide customer support, or arrange 
    for deliveries. All such third parties are prohibited from using your 
    personal information except to provide these services to Empire Events, and 
    they are required to maintain the confidentiality of your information.
    %br
    %br
    Empire Events may keep track of the websites and pages our users visit 
    within Empire Events, in order to determine what Empire Events services 
    are the most popular. This data is used to deliver customized content and 
    advertising within Empire Events to customers whose behavior indicates that 
    they are interested in a particular subject area.
    %br  
    Empire Events will disclose your personal information, without notice, only 
    if required to do so by law or in the good faith belief that such action is 
    necessary to: (a) conform to the edicts of the law or comply with legal 
    process served on Empire Events or the site; (b) protect and defend the 
    rights or property of Empire Events; and, (c) act under exigent circumstances 
    to protect the personal safety of users of Empire Events, or the public. 
    %br 
    %br 
    %strong Security of your Personal Information 
    %br 
    %br 
    Empire Events secures your personal information from unauthorized access, 
    use or disclosure. 
    %br 
    %br 
    %strong Children Under Thirteen 
    Empire Events does not knowingly collect personally identifiable information 
    from children under the age of thirteen. If you are under the age of 
    thirteen, you must ask your parent or guardian for permission to use this 
    website. 
    %br 
    %br 
    %strong Opt-Out & Unsubscribe 
    %br 
    We respect your privacy and give you an opportunity to opt-out of receiving 
    announcements of certain information. Users may opt-out of receiving any or 
    all communications from Empire Events by contacting us here: 
    \- Email: info@empireeventsnj.com
    \- Phone: 856-545-3931
    %br
    %br
    %strong Changes to this Statement 
    %br
    Empire Events will occasionally update this Statement of Privacy to reflect 
    company and customer feedback. Empire Events encourages you to periodically 
    review this Statement to be informed of how Empire Events is protecting your 
    information. 
    %br
    %br
    %strong Contact Information 
    %br
    Empire Events welcomes your questions or comments regarding this Statement 
    of Privacy. If you believe that Empire Events has not adhered to this 
    Statement, please contact Empire Events at: 
    %br
    %br
    Empire Events LLC 
    %br
    106 Country Club Rd 
    %br
    Pine Hill, New Jersey 08021 
    %br
    %br
    Email Address: 
    %br
    info@EmpireEventsNJ.com 
    %br
    %br
    Telephone number: 
    %br
    856-545-3931 
    %br
    %br
    Effective as of August 22, 2016 
