%table.table
  %tr
    %td.pull-right
      %strong Subtotal:
    %td
      =number_to_currency @sale.calculate_subtotal
  %tr
    %td.pull-right
      %strong Tax:
    %td
      =number_to_currency @sale.calculate_tax
  %tr
    %td.pull-right
      %strong Total:
    %td
      =number_to_currency @sale.calculate_total
  %tr
    %td.pull-right
      %strong Total Due Before Delivery:
    %td
      =number_to_currency @sale.calculate_total_before_delivery
