.panel.panel-default
  .panel-body
    %h1.text-center.page-header Checkout
    -if @sale
      %table.table
        %tr
          %th Name
          %th Price
          %th Rental Date
          %th
        -@sale.line_items.each do |li|
          %tr
            %td=li.product.name
            %td=number_to_currency li.product.price
            %td=li.rental.start_date
            %td=link_to 'Remove', remove_from_cart_line_item_path(li), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
      .row
        .col-sm-4.col-sm-offset-8
          %table.table
            %tr
              %td.pull-right
                %strong Subtotal:
              %td
                =number_to_currency @sale.calculate_subtotal
            %tr
              %td.pull-right
                %strong Tax:
              %td
                =number_to_currency @sale.calculate_tax
            %tr
              %td.pull-right
                %strong Total:
              %td
                =number_to_currency @sale.calculate_total
      .row
        .col-sm-12
          %h2.text-center Rental Location
          =render "rental_locations/form"
    -else
      %h2.text-center.alert.alert-info Your cart is empty!
