@import "bootstrap-sprockets"
@import "bootstrap"
@import "sweetalert"

body
  background: #FAFAFA

.navbar.navbar-default
  background: white

a.cart.btn-success
  span.glyphicon
    color: white

a.cart.btn-success:hover
  background: green !important

.page-header
  border-bottom: none

.simple-calendar
  .controls
    text-align: center
    margin-bottom: 2em

    .current_month
      font-size: 2em
      font-weight: bold
