@import "bootstrap-sprockets"
@import "bootstrap"
@import "sweetalert"
@import 'font-awesome-sprockets'
@import 'font-awesome'

$blue:  #03A9F4
$blue-hover: #0288D1

body
  background: #FAFAFA

#content-row
  padding-bottom: 50px

.navbar.navbar-inverse
  background-color: $blue
  border-color: $blue

  .navbar-brand
    color: white

  ul
    a
      color: white

    a:hover
      background-color: $blue-hover

a.cart.btn-default
  background-color: $blue
  border: none
  border-radius: 0

  span
    color: white

a.cart.btn-default:hover

a.cart.btn-success
  border-radius: 0

  span.glyphicon
    color: white

a.cart.btn-success:hover
  background: green !important

.btn.btn-primary
  background-color: $blue
  border-color: $blue

.btn.btn-primary:hover
  background-color: $blue-hover
  border-color: $blue-hover

.page-header
  border-bottom: none

.simple-calendar
  .controls
    text-align: center
    margin-bottom: 2em

    .current_month
      font-size: 2em
      font-weight: bold

.social-icons
  font-size: 2em
  padding: 0.5em

.footer
