@import "bootstrap-sprockets"
@import "bootstrap"

body
  background: #FAFAFA

.navbar.navbar-default
  background: white

.page-header
  border-bottom: none

.simple-calendar
  .controls
    text-align: center
    margin-bottom: 2em

    .current_month
      font-size: 2em
      font-weight: bold
