.row
  .col-md-6
    = link_to 'Back', sales_path, class: "btn btn-default"
    = link_to 'Show', @sale, class: "btn btn-info"

.row
  .col-md-6
    %h1 Editing sale

.row
  .col-md-6
    = render 'form'
